In [1]:
import numpy as np
import matplotlib.pyplot as plt

In [56]:
class DepressedCubic:
    # of the form tx^2 + px + q = 0
    def __init__(self, a, p, q):
        self.p = p / a
        self.q = q / a

        self.delta = - (4 * p ** 3 + 27 * q ** 2)

    def cardano(self): # assuming delta < 0
        a = np.sqrt(self.q ** 2 / 4 + self.p ** 3 / 27)
        return np.cbrt(-self.q / 2 + a) + np.cbrt(-self.q / 2 - a)

    def trigo(self):
        argcos = (3 * self.q / (2 * self.p) * np.sqrt(-3 / self.p + 0j))
        print(argcos)
        acos = np.arccos(argcos)
        cos_array = np.array([acos / 3 - 2 * np.pi * k /3 for k in range(3)])
        return 2 * np.sqrt(- self.p / 3 + 0j) * cos_array

In [65]:
# params
eta = 0.2
mu = -0.1
gamma = 0.12

cubic = DepressedCubic(-1, 1, 0)

In [66]:
cubic.delta

-4

In [67]:
cubic.cardano()

/tmp/ipykernel_307569/1022377000.py:10: RuntimeWarning: invalid value encountered in sqrt
  a = np.sqrt(self.q ** 2 / 4 + self.p ** 3 / 27)

nan

In [68]:
cubic.trigo()

0j

array([ 0.60459979+0.j, -1.81379936-0.j, -4.23219852-0.j])

In [3]:
etas = np.linspace(-1.0, 1.0, 1001)
mu = -0.1
gamma = 0.12
us = np.zeros_like(etas)

for i, eta in enumerate(etas):
    roots = np.roots([-1, 0, mu, eta + gamma])
    for root in roots:
        if root.imag == 0:
            us[i] = root.real
            break

In [5]:
%matplotlib qt
plt.plot(etas, us)
plt.show()

In [6]:
import pandas as pd

In [19]:
df = pd.DataFrame(data={'tau': [-1, 1, 2, 3, 4], 'etas': [0.1, 0.2, 0.3, 0.4, 0.5]})
df

   tau  etas
0   -1   0.1
1    1   0.2
2    2   0.3
3    3   0.4
4    4   0.5

In [16]:
indxs = df[df['tau'] * np.roll(df['tau'], 1) < 0].iloc[1:].index[0]

In [17]:
df.loc[indxs:]

   tau  etas
1    1   0.2
2    2   0.3
3    3   0.4
4    4   0.5

In [18]:
df

   tau  etas
0   -1   0.1
1    1   0.2
2    2   0.3
3    3   0.4
4    4   0.5